<header class="header">
  <a href="/" class="header__logo">SashaTran</a>

  <div class="menu-icon">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 50 50"
      width="40"
      height="40"
      class="hamburger"
    >
      <path
        d="M 0 7.5 L 0 12.5 L 50 12.5 L 50 7.5 Z M 0 22.5 L 0 27.5 L 50 27.5 L 50 22.5 Z M 0 37.5 L 0 42.5 L 50 42.5 L 50 37.5 Z"
      ></path>
    </svg>

    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      width="24px"
      height="24px"
      class="close-hamburger"
    >
      <path
        d="M 4.7070312 3.2929688 L 3.2929688 4.7070312 L 10.585938 12 L 3.2929688 19.292969 L 4.7070312 20.707031 L 12 13.414062 L 19.292969 20.707031 L 20.707031 19.292969 L 13.414062 12 L 20.707031 4.7070312 L 19.292969 3.2929688 L 12 10.585938 L 4.7070312 3.2929688 z"
      />
    </svg>
  </div>

  <nav class="header__nav">
    <ul>
      <li>
        <a href="/" class="nav-link">Home</a>
      </li>
      <li>
        <a href="/#about" class="nav-link">About</a>
      </li>
      <li>
        <a href="#projects" class="nav-link">Projects</a>
      </li>
      <li>
        <a href="/contact" class="nav-link">Contact</a>
      </li>
    </ul>
  </nav>

  <div class="header__button">
    <button class="searchBtn" aria-expanded="false">
      Search
      <svg
        fill="#000000"
        height="17px"
        width="17px"
        version="1.1"
        id="Capa_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 488.4 488.4"
        xml:space="preserve"
      >
        <g>
          <g>
            <path
              d="M0,203.25c0,112.1,91.2,203.2,203.2,203.2c51.6,0,98.8-19.4,134.7-51.2l129.5,129.5c2.4,2.4,5.5,3.6,8.7,3.6
                       s6.3-1.2,8.7-3.6c4.8-4.8,4.8-12.5,0-17.3l-129.6-129.5c31.8-35.9,51.2-83,51.2-134.7c0-112.1-91.2-203.2-203.2-203.2
                       S0,91.15,0,203.25z M381.9,203.25c0,98.5-80.2,178.7-178.7,178.7s-178.7-80.2-178.7-178.7s80.2-178.7,178.7-178.7
                       S381.9,104.65,381.9,203.25z"
            />
          </g>
        </g>
      </svg>
    </button>
  </div>
</header>
