<div class="to-know-me">
  <h1>ABOUT ME</h1>
  <p class="intro">
    Here you will find more information about me, what I do, and my current
    skills mostly in terms of programming and technology.
  </p>
  <h2>Get to know me!</h2>
  <p>
    I'm a <strong>Full Stack Developer</strong> building and managing the
    front-end and back-end of websites and web applications that lead to the
    success of the overall product. Check out some of my work in the
    <a href="#/projects">Projects</a> section.
  </p>
  <p>
    I also like sharing content related to the stuff that I have learned in Web
    Development. Feel free to Connect me.
  </p>
  <!-- <p>
    I'm open to job opportunities where I can contribute, learn and grow. If you
    have a good opportunity that matches my skills and experience then don't
    hesitate to <a href="#contact">contact me</a>.
  </p> -->
</div>
<div class="skills">
  <h2>My Skills</h2>
  <div class="skills-grid">
    <div class="skill">HTML</div>
    <div class="skill">CSS</div>
    <div class="skill">JavaScript</div>
    <div class="skill">Vue</div>
    <div class="skill">WordPress</div>
    <div class="skill">NodeJs & Express</div>
    <div class="skill">SCSS</div>
    <div class="skill">GitHub</div>
    <div class="skill">MongoDB</div>
    <div class="skill">SEO</div>
    <div class="skill">Terminal</div>
    <div class="skill"></div>
  </div>
</div>
