<section class="grid-columns image-index home-hero">
  <div class="home-content">
    <div class="author">
      <h1 class="author__heading">Hi, I am Sasha.</h1>
      <p class="author__body">Web develper and fullstack engineer</p>
    </div>

    <img
      src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt="coding simple"
      class="hero-image"
      width="981"
    />
  </div>
</section>

<section class="about grid-columns" id="about">
  <div class="about-content about-section"><%- include('about') %></div>
</section>

<section id="projects" class="articles grid-columns">
  <div class="projects-content"><%- include('projects') %></div>
</section>
